@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Button
	1.4 - Lists
	1.5 - Table
	1.6 - Form
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
	4.1 - Image Slider
	4.2 - Other Background
5.0 - Utility
	5.1 - Text Transform
	5.2 - Colors
	5.3 - Alignments
6.0 - Responsive / Media Queries
----------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 TYPOGRAPHY:
----------------------------------------------------------------*/

html {
	font-size: 14px;
}
body {
	font-family: 'Catamaran', sans-serif;
	color: #616262;
}

/*----------1.1	- Headings----------*/

h1, h2, h3, h4, h5 {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
}

/*----------1.2 - Body Copy----------*/

p {
	display: block;
}

#lead-in {
	font-size: 1.2rem;
	padding-bottom: 10px;
}

#article {
	font: 500 2rem 'Saira Extra Condensed', sans-serif;
}

/*----------1.3 - Button----------*/


.prim-btn li {
	display: inline-block;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 0;
}

.prim-btn a, .sec-btn a, .third-btn a, #article a{
	font-family: 'Saira Extra Condensed', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size:  1.2rem;
}

.prim-btn a {
	border: 1.5px solid #43ace1;
	padding: 5px 30px;
	color: #616262;
}

.prim-btn a:hover {
	background-color: #43ace1;
	color: #ebf0f6;
}

.sec-btn a, #article a {
	color: #ebf0f6;
	background-color: #616262;
	padding: 10px 50px;
}

.sec-btn a:hover, #article a:hover {
	border: 1.5px solid #43ace1;
	background-color: #ebf0f6;
	color: #616262;
}

.sec-btn {
	text-align: center;
	padding-top: 10px;
}

#article a {
	border: 1.5px solid #ebf0f6;
	margin-left: 20px;
}


/*----------1.4 - Lists----------*/

/*----------1.5 - Table----------*/

/*----------1.6 - Form----------*/

form {
	margin: 0 auto;
}

form .col-1-2 {
	padding-bottom: 20px;
}

label, input, textarea {
    display: block;
    text-align: left;
	margin-bottom: 4px;
    width: 90%;
}

input {
	height: 35px;
	padding: 10px 10px;
	border: none;
}

label, form a {
	color: #616262;
}

label {
	margin-top: 20px;
	font: 1.5rem 'Saira Extra Condensed', sans-serif;
	text-transform: uppercase;
}


textarea {
	height: 160px;
	width: 100%;
	padding: 10px 15px;
	border: none;
}


/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

/*----------2.1 - Main----------*/

nav {
	text-align: center;
}

nav li  {
	display:inline-block;
	list-style: none;
	padding: 0 40px;
    font: 1.3rem 'Saira Extra Condensed', sans-serif;
	text-transform: uppercase;
}

nav a {
	color: #616262;
	text-decoration: none;
}

nav a:hover {
	border-bottom: solid #43ace1;
}


/*----------2.2 - Sub----------*/

/*----------2.3 - Footer----------*/

/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

/*----------3.1 - Site Structure----------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}

.wrapper {
	width: 80%; /*original width was 1170px*/
	margin: 0 auto;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5  {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
	padding-left: 30px;
}

.col-1-6 {
	width: 16.66%;
	padding-left: 30px;
}

.col-3-6 {
	width: 49.98%;
}

.col-5-6 {
	width: 83.3%;
}

.col-1-7 {
	width: 14.28%;
}

.col-6-7 {
	width: 85.68%;
}

.col-4-7 {
	width: 57.12%;
}

.col-3-7 {
	width: 42.84%;
}

.col-1-8 {
	width: 12.5%;
}

.col-6-8 {
	width: 75%;
}

.col-7-8 {
	width: 87.5%;
}

.col-2-8 {
	width: 25%;
}

.col-1-9 {
	width: 11.11%;
}

.col-5-9 {
	width: 55.55%;
}

.col-4-9 {
	width: 44.44%;
}

.col-1-10 {
	width: 10%;
}
.col-7-10 {
	width: 70%;
}

.col-3-10 {
	width: 30%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}
.col-3-12 {
	width: 24.99%;
}

.col-9-12 {
	width: 74.97%;
}

.col-10-12 {
	width: 100%;
}

/*----------3.2	- Site Header----------*/

/*----------3.3	- Site Footer----------*/

footer ul span{
	display: none;
}

footer ul {
	text-align: right;
}

footer ul a, footer ul li{
	display: inline-block;
	margin-right: 10px;
}

footer ul li:last-child {
	padding-right: 0;
}

footer ul li a{
	width: 25px;
	height: 25px;
}

footer ul li:first-child a{
	background: url("../img/icon-fb.png") no-repeat 0 0;
}

footer ul li:nth-child(2) a{
	background: url("../img/icon-ins.png") no-repeat 0 0;
}

footer ul li a:hover{
	background-position: 0 -25px;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

/*----------4.1 - Image Slider----------*/

/* Prevents slides from flashing */
#slides {
  display:none;
}

.slidesjs-pagination {
    text-align: center;
    list-style: none;
}

.slidesjs-pagination li {
  display: inline-block;
}

.slidesjs-pagination li a {
    display: block;
    width: 10px;
    height: 0;
    padding-top: 10px;
    overflow: hidden;
    border: solid 1px grey;
    border-radius: 10px;
    margin-right: 5px;
}

.slidesjs-pagination li a.active{
  background: grey;
}

.slidesjs-previous, 
.slidesjs-next {
  display: none;
}


/*----------4.2 - Other Background----------*/

#package-5day, #package-2day, #package-halfday, #package-3day, #package-4day {
	height: 300px;
	-webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
}

#package-5day {
	background: url(../img/img-package-5day.png) no-repeat;
}
#package-halfday {
	background: url(../img/img-package-1:2day.png) no-repeat;
}
#package-2day {
	background: url(../img/img-package-2day.png)no-repeat;
}
#package-3day {
	background: url(../img/img-package-3day.png) no-repeat;
}
#package-4day {
	background: url(../img/img-package-4day.png) no-repeat;
}

#bg-instructors {
	 background: url(../img/img-slider-3.jpg) no-repeat top right;
}

#bg-about {
	 background: url(../img/img-slider-4.jpg) no-repeat top left;
}

#bg-services {
	background: url(../img/img-slider-5.jpg) no-repeat top right;
}

#bg-about, #bg-instructors, #bg-services {
	-webkit-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
	background-size: contain;
	margin: 20px 0;
	padding: 20px 0;
}

#packages li {
	list-style-image: url(../img/wave.png);
}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*----------5.1 - Text Transform----------*/

.txt-center {
	text-align: center;
}

.center-block {
	margin: 0 auto;
	float: none !important;
}

/*----------5.2 - Colors----------*/

.bg-blue, .bg-grey {
	padding: 50px 80px;
}

.bg-blue {
	background-color: #ebf0f6;
}

.bg-grey {
	background-color: #616262;
}

.txt-white {
	color: #ebf0f6;
}

/*----------5.3 - Alignments----------*/

.pos-rel {
	position: relative;
	top: 0;
	left: 0;
}

.pos-abs {
	position: absolute;
	bottom: 95px;
	right: 50px;
	width: 100%;
	z-index: 10;
}

.push-right {
	float: right;
}

#package-1, #package-2, #package-2day, #package-4, #package-5 p {
	text-align: center;
}
/*--------------------------------------------------------------
6.0 - RESPONSIVE / MEDIA QUERIES
-------------------------------------------------------------- */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



@media screen and (max-width: 768px) {
	
	.wrapper {
		width: 100%;
	}
	.row {
		padding: 0 10px;
	}
	.bg-blue, .bg-grey {
		padding: 10px 20px;
	}
	.col-1-2, .col-3-12, .col-5-6, .col-1-6, .col-10-12, .col-1-3, .col-2-3 {
		width: 100%;
	}
	.col-s-1-2, footer .col-1-2 {
		width: 50%;
	}
	.pos-abs {
		top: 0;
		right:0;
	}
	#lead-in {
	font-size: 1.1rem;
	padding-bottom: 0;
	}	
	input {
		width: 100%;
	}
	nav li {
		padding: 0 10px;
	}
	#bg-instructors .bg-grey, #bg-services .bg-grey {
		background-color: rgba(97, 98, 98, .5);
	}
	#bg-about .bg-blue, .pos-abs .bg-blue {
		background-color:  rgba(235, 240, 246, .5)
	}
	
	#bg-services, #bg-about, #bg-instructors {
		padding: 20px 10px;
		background-size: cover;
	}
	
	#bg-services, #bg-about {
		margin: 0;
	}
	
	footer .col-1-2:last-child {
		text-align: right;
	}
	
	#package-5day, #package-2day, #package-3day, #package-halfday, #package-4day {
		background-image: none;
	}
}