@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Button
	1.4 - Lists
	1.5 - Table
	1.6 - Form
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Transform
	5.2 - Colors
	5.3 - Alignments
6.0 - Responsive / Media Queries
----------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 TYPOGRAPHY:
----------------------------------------------------------------*/

html {
	font-size: 14px;
}
body {
	font-family: 'Catamaran', sans-serif;
	color: #616262;
}

/*----------1.1	- Headings----------*/

h1, h2, h3, h4, h5 {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
}

/*----------1.2 - Body Copy----------*/

p {
	display: block;
}

#lead-in {
	font-size: 1.2rem;
	padding-bottom: 10px;
}

/*----------1.3 - Button----------*/


.prim-btn li {
	display: inline-block;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 0;
}

.prim-btn a, .sec-btn a {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;

}

.prim-btn a {
	border: 1.5px solid #43ace1;
	padding: 5px 30px;
	color: #616262;
}

.prim-btn a:hover {
	background-color: #43ace1;
	color: #ebf0f6;
}

.sec-btn a {
	background-color: #616262;
	color: #ebf0f6;
	padding: 5px 123px;
}

.sec-btn a:hover {
	border: 1.5px solid #43ace1;
	background-color: #ebf0f6;
	color: #616262;
	padding: 5px 122px;
}

/*----------1.4 - Lists----------*/

/*----------1.5 - Table----------*/

/*----------1.6 - Form----------*/

/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

/*----------2.1 - Main----------*/

nav {
	text-align: center;
}

nav li  {
	display:inline-block;
	list-style: none;
	padding: 0 40px;
    font-family: 'Saira Extra Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 1.3rem;
}

nav a {
	color: #616262;
	text-decoration: none;
}

nav a:hover {
	border-bottom: solid #43ace1;
}


/*----------2.2 - Sub----------*/

/*----------2.3 - Footer----------*/

/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

/*----------3.1 - Site Structure----------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border;
	box-sizing: border-box;
}

.wrapper {
	width: 80%; /*original width was 1170px*/
	margin: 0 auto;
}

.row:after {
	content: " ";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
}

.wrapper [class*="col-"] {
	padding: 0 1rem 2rem 1rem;
}


.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5  {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-3-6 {
	width: 49.98%;
}

.col-1-7 {
	width: 14.28%;
}

.col-4-7 {
	width: 57.12%;
}

.col-3-7 {
	width: 42.84%;
}

.col-1-8 {
	width: 12.5%;
}

.col-6-8 {
	width: 75%;
}

.col-2-8 {
	width: 25%;
}

.col-1-9 {
	width: 11.11%;
}

.col-5-9 {
	width: 55.55%;
}

.col-4-9 {
	width: 44.44%;
}

.col-1-10 {
	width: 10%;
}
.col-7-10 {
	width: 70%;
}

.col-3-10 {
	width: 30%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}
.col-3-12 {
	width: 24.99%;
}

.col-9-12 {
	width: 74.97%;
}

.col-10-12 {
	width: 80%;
}

/*----------3.2	- Site Header----------*/

/*----------3.3	- Site Footer----------*/

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

.slider-wrap {
  width: 700px;
  height: 400px;
}
.slider {
  overflow-x: hidden;
}

.slider-nav li {
	display: inline-block;
}

.holder {
  width: 500%;
}
.slide {
  float: left;
  width: 700px;
  height: 400px;
  position: relative;
}
.temp {
  position: absolute;
  color: white;
  font-size: 100px;
  bottom: 15px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
}
#slide-0 {
  background-image: url('../img/img-slider-1.jpg');
}
#slide-1 {
  background-image: url('../img/img-slider-2.jpg');
}
#slide-2 {
  background-image: url('../img/img-slider-3.jpg');
}
#slide-4 {
  background-image: url('../img/img-slider-4.jpg');
}
#slide-3 {
  background-image: url('../img/img-slider-5.jpg');
}
.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}
.slider-nav {
  text-align: center;
  margin: 10px 0 0 0;
}
.slider-nav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #ddd;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
}
.slider-nav a.active {
  background: #999;
}

.floating-package {
	width: 700px;
	max-width: calc(100% - 40px);
	position: relative;
	left: -100px;
	top: 50px;
}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*----------5.1 - Text Transform----------*/

.txt-center {
	text-align: center;
}

.center-block {
	margin: 0 auto;
	float: none !important;
}

/*----------5.2 - Colors----------*/

.bg-blue, .bg-grey {
	padding: 50px 80px;
}

.bg-blue {
	background-color: #ebf0f6;
}

.bg-grey {
	background-color: #616262;
}

.txt-white {
	color: #ebf0f6;
}

/*----------5.3 - Alignments----------*/

.img-holder {
	position: relative;
}

.sec-btn a {
    position: absolute;
    top: 260px; /*your button position*/
    left: 0px; /*your button position*/
}

.pos-rel {
	position: relative;
	top: 0;
	left: 0;
}

.pos-abs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.push-right {
	float: right;
}


/*--------------------------------------------------------------
6.0 - RESPONSIVE / MEDIA QUERIES
-------------------------------------------------------------- */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



@media screen and (max-width: 768px) {
	
	.wrapper {
		width: 95%;
	}
	
}